includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/phpstan-pest-extension.neon

parameters:
    paths:
        - app
        - database
        - tests

    level: 5

    excludePaths:
        - database/migrations/*
